html {
  background: var(--background-primary);
}

:root {
  --background-primary: #05030cc5;
}

body {
  background: var(--background-primary);

  font-family: -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Open Sans, Helvetica Neue, sans-serif;

  overflow: hidden scroll;

  -webkit-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  background: var(--background-primary);
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(100, 100, 100, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  position: sticky;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

hr {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  height: 1px;
  margin: 1rem auto;
  width: 182px;
}

header {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header *,
#test-build,
.grid-tr {
  z-index: 5;
}

#moving-background {
  position: absolute;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  height: 35%;
  top: 0;
  z-index: 0;
  filter: blur(175px);
  opacity: 1;
}

.navbar-panel {
  height: 185px;
  position: relative;
  bottom: 30px;
  text-align: center;
}

.navbar-panel h1 {
  position: relative;
  font-size: 65px;
  margin-top: 20px;
}

[aria-label="bottombreaker"] {
  position: relative;
  transition: ease-in-out .3s;
}

.navbar-panel>h5 {
  position: relative;
}

.links-out {
  text-align: center;
  position: sticky;
  z-index: 3;

  h5 {
    margin-bottom: 10px;
    /* margin-top: 0; */
    z-index: 3;
  }
}

.links-to-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h5:first-child {
    margin-bottom: 0;
    text-decoration: underline;
  }
}

.links-to-info .no-top {
  top: -45px !important;
}

.info-section {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 20px;
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5px;

  margin: 0;
  padding: 0;

  a {
    font-style: italic;
  }
}

.grid-tr {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: absolute;
  top: 0;
  right: 0;
}

.top-right {
  margin: 10px 10px 0 0;

  width: 50px;
  height: 50px;
  background-color: #55555582;

  border-radius: 8px;

  overflow: hidden;
}

/* * For SVG Icons * */
.top-right svg {
  width: 32px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: white;
}

[aria-label="discord link top right"],
[aria-label="github link top right"],
[aria-label="twitter link top right"],
[aria-label="twitch link top right"] {
  transition: background-color 0.4s ease-in-out;
}

[aria-label="discord link top right"]:hover {
  background-color: rgb(0, 81, 202);

  transition: background-color 0.4s ease-in-out;
}

[aria-label="github link top right"]:hover {
  background-color: #0d1117;

  transition: background-color 0.4s ease-in-out;
}

[aria-label="twitter link top right"]:hover {
  background-color: #15202b;

  transition: background-color 0.4s ease-in-out;
}

[aria-label="twitch link top right"]:hover {
  background-color: #6441a5;

  transition: background-color 0.4s ease-in-out;
}

@keyframes gloss {
  0% {
    transform: skewX(-30deg) translateX(10%);
  }

  20% {
    transform: skewX(-30deg) translateX(3000%);
  }

  100% {
    transform: skewX(-30deg) translateX(3000%);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#test-build {
  position: fixed;
  top: 10px;
  left: 10px;

  /* background-color: #161616; */
  background: linear-gradient(#161616, #161616) padding-box, linear-gradient(145deg, #161616, #6441a5) border-box;
  border: 1px solid transparent;
  box-shadow: 0 10px 50px rgb(0, 0, 0), 0 0 5px rgba(0, 0, 0, .1);
  border-radius: 5px;
  overflow: hidden;
  animation: float 3s ease-in-out infinite;
  /* Add the floating animation */
}

#test-build::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewX(-30deg);
  animation: gloss 7s linear infinite;
  animation-timing-function: linear;
}

#test-build h4 {
  margin: 10px;
  padding: 0;
}

.squares {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vw;
  margin-bottom: 1vw;
  justify-content: center;
}

.square {
  position: relative;
  top: 0;
  width: 30vw;
  height: 30vw;
  background: rgba(40, 40, 40, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.0);
  border-radius: 5px;
  transition: ease-in-out .3s;

  overflow: hidden;

  padding-bottom: 10px;

  &:hover {
    top: calc(2px);
    border: 1px solid rgba(#F2F4F8, 0);
    box-shadow: 0 15px 20px rgba(155, 155, 155, 1), 0 0 5px rgba(0, 0, 0, .1);

    .icon {
      filter: blur(5px);
      transition: ease-in-out .3s;
    }

    .p_1_data {
      display: block;
      border-radius: 5px;

      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;

      transition: ease-in-out .3s;
      animation: opacity 1s ease-in-out;
    }

    .p_1_data>h3 {
      text-align: center;
      transition: ease-in-out .3s;
    }

    .p_1_data>.desc>p {
      padding-left: 10px;
      padding-right: 10px;
      text-align: justify;
    }
  }

  &:active {
    top: 0;
    box-shadow: 0 5px 10px rgba(255, 255, 255, .05), 0 0 2px rgba(0, 0, 0, .1);
    transition: ease-in-out .3s;
  }

  .icon {
    transition: ease-in-out .3s;
  }
}

p.left-side-p {
  text-align: left !important;
}

.Projects {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.block {
  text-decoration: none;
  text-align: center;

  width: 50px;
  height: 50px;
  background: #090a16;
  border-radius: 5px;

  overflow: hidden;

  box-shadow: 0 5px 10px rgba(255, 255, 255, .1), 0 0 2px rgba(0, 0, 0, .1);

  *:is(a) {
    cursor: pointer;
  }

  p {
    margin: 0;
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* JS Knowledge */
  [alt="Node JS"] {
    margin-top: 4px;
  }

  [alt="PM2"] {
    margin-top: 8px;
  }

  [alt="NPM"],
  [alt="Level Bot"] {
    margin-top: 6px;
  }

  [alt="SQLite3"] {
    margin-top: 5px;
  }

  [alt="Express"] {
    margin-top: 4px;
  }

  [alt="JSON"] {
    margin-top: 7px;
  }

  [alt="Axios"] {
    margin-top: 6px;
  }

  [alt="Dotenv"] {
    margin-top: 7px;
    border-radius: 5px;
  }

  [alt="Sequelize"] {
    margin-top: 5px;
  }

  /* JS Projects */
  [alt="Translator Bot"] {
    margin-top: 1px;
  }

  [alt="Gen Bot"] {
    margin-left: -15px;
    margin-top: 1.5px;
  }

  [alt="Saiyan Senshi Bot"] {
    margin-top: 7px;
    border-radius: 5px;
  }

  [alt="Study Bot"] {
    margin-top: 6px;
  }

  [alt="Osakar Schedule Bot"] {
    margin-top: 7px;
    border-radius: 5px;
  }

  [alt="CRUDLR Bot"] {
    margin-top: 9px;
  }

  /* Java Knowledge */
  [alt="Java Swing"] {
    position: relative;
    bottom: 7.5px;
    right: 8.5px;
  }

  [alt="Java FX"] {
    position: relative;
    bottom: 7px;
    right: 13px;
  }

  [alt="Maven"] {
    position: relative;
    top: 5px;
    left: 1px;
  }

  [alt="JUnit"] {
    position: relative;
    top: 8px;
  }

  [alt="Spring Boot"] {
    position: relative;
    top: 7.5px;
  }

  [alt="PyTorch"] {
    position: relative;
    top: 5px;
  }

  [alt="Bootstrap"] {
    margin-top: 10px;
  }

  [alt="JavaScript"] {
    position: relative;
    top: 5px;
    border-radius: 5px;
  }

  [alt="WordPress"] {
    margin-left: -15px;
    margin-top: -1.5px;
  }

  [alt="CodePen"] {
    margin-left: -10px;
    margin-top: -2px;
  }
}

.coming-soon {
  font-size: 10px;
  font-style: italic;
  text-align: center;

  p {
    position: relative;
    left: 0px;
    top: 11px;
    transform: rotateZ(15deg);
  }
}

.knowledge {
  padding-left: 10px;
}

.blocks-of-knowledge {
  display: flex;
  padding-bottom: 10px;
  justify-items: start;
  flex-wrap: wrap;
  gap: 23px;
  flex-direction: row;
  justify-content: center;
}

.icon {
  fill: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p_1_data {
  display: none;
  transition: ease-in-out 1.3s;
  overflow: auto;
}

.no-hover:hover {
  top: 0;
  border: none;
  box-shadow: none;
  cursor: grab;
}

.scroll-effect {
  border: 1px solid rgba(255, 255, 255, 0);
  animation: scroll-effect 2s ease-in-out 3;
}

@keyframes scroll-effect {
  0% {
    border: 1px solid rgba(255, 255, 255, 0.0);
  }

  50% {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  100% {
    border: 1px solid rgba(255, 255, 255, 0.0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0
  }

  45% {
    opacity: 1
  }

  100% {
    opacity: 1
  }
}

.display-nothing {
  overflow: hidden;
}

.gitlab {
  background: #fc6d2680 !important;
}

/* Rain */
.rain {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 90%;
  z-index: 2;
}

.rain.back-row {
  display: none;
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

body.back-row-toggle .rain.back-row {
  display: block;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 320px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }

  75% {
    transform: translateY(90vh);
  }

  100% {
    transform: translateY(90vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* ---- */


.logo-icon {
  width: 32px;

  margin-top: 25px;

  position: relative;
  left: 50%;
  transform: translate(-50%);

  animation: pulse 4s ease-in-out infinite;
  /* Apply the animation: name, duration, repeat */
}

@keyframes pulse {

  0%,
  100% {
    transform: translate(-50%, 3px);
  }

  50% {
    transform: translate(-50%, 10px);
  }
}

@media (max-width: 769px) {
  .display-nothing {
    display: none;
  }

  .navbar-panel {
    position: relative;
  }

  .navbar-panel h5 {
    text-align: center;
    top: 10px;
  }

  [aria-label="bottombreaker"] {
    top: 20px;
    transition: ease-in-out .3s;
  }

  .Projects {
    position: relative;
  }

  .square {
    width: 300px;
    height: 300px;
  }

  .squares {
    grid-template-columns: repeat(1, 1fr);
  }

  .navbar-panel h1 {
    top: 10px;
  }

  #moving-background {
    width: 100%;
    height: 100vh;
    top: -60%;
  }

  .no-top {
    top: 0 !important;
  }

  .links-out [aria-label="bottombreaker"] {
    margin-top: 0;
  }
}

@media (max-width: 376px) {
  .hide-350 {
    display: none !important;
  }
}

footer {
  height: fit-content;
  text-align: center;
  padding-bottom: 10px;
}

footer .dim-footer {
  color: rgb(125, 125, 125)
}